@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    @apply max-w-screen-xl mx-auto px-4
}

.cc{
background-image: linear-gradient(to top, #d5d4d0 0%, #b9b9b8 1%, #c2c2be 31%, #c5c4c1 75%, #c9c9c5 100%);

color: aliceblue;
}   

.navc{
    background: linear-gradient(90deg, #2e2b2a , #5b4f49 , #2e2b2a );
}
